<main role="main">
    <br>
    <!-- <app-alta-pelicula (eventoCreacionNuevaPelicula)="cargarNuevaPelicula($event)"></app-alta-pelicula> -->
    <app-alta-pelicula (eventoCreacionNuevaPelicula)="loadAlta($event)"></app-alta-pelicula>
    <app-pelicula-listado (eventSendSelectedMovie)="selectedMovie($event)" (eventDelMovie)="deleteMovie($event)" [borrado]="borrado" [listadoDePeliculas]="listadoDePeliculas"></app-pelicula-listado>

    <app-detalle-pelicula *ngIf="states.details" [peliculaParaMostrar]="peliculaSeleccionada">
    </app-detalle-pelicula>
    <app-pelicula-alta *ngIf="states.create || states.edit" (eventSaveMovie)="cargarNuevaPelicula($event)" [peliculaEdit]="peliculaSeleccionada"></app-pelicula-alta>

</main>