<main role="main">
    <br>
    <div><button class="btn btn-outline-dark" (click)="nuevaPelicula()">Nueva Pelicula</button></div><br>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <app-pelicula-listado (eventSendSelectedMovie)="selectedMovie($event)" (eventDelMovie)="deleteMovie($event)" [listadoDePeliculas]="listadoDePeliculas"></app-pelicula-listado>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->

        <div class="row">
            <div class="col-md-4">
                <app-detalle-pelicula *ngIf="peliculaSeleccionada.id != ''" [peliculaParaMostrar]="peliculaSeleccionada">
                </app-detalle-pelicula>
            </div>

            <div class="col-md-4">
                <app-actor-listado *ngIf="peliculaSeleccionada.id != ''" [listaActores]="peliculaSeleccionada.actores" [details]="details" (eventActorDetail)="viewDetails($event)"></app-actor-listado>
            </div>
            <div class="col-md-4">
                <app-tabla-actor *ngIf="actorSelected" [actor]="actorSelected"></app-tabla-actor>
            </div>
        </div>

        <hr>

    </div>
</main>