<br>
<div class="container">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <app-actor-listado (eventActorAdd)="addActor($event)" [listaActores]="listaActores" (eventActorDel)="deleteActor($event)" [details]="details"></app-actor-listado>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Alta de Pelicula</h4>
            <form class="needs-validation" [formGroup]="formGroup">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" name="id" id="id" [(ngModel)]="peliculaEdit.id" placeholder="001" formControlName="id">
                        <small class="invalid" *ngIf="formGroup.get('id')?.errors?.required && formGroup.get('id')?.touched">El ID es requerido</small>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="title">Titulo</label>
                        <input type="text" class="form-control" name="title" id="title" [(ngModel)]="peliculaEdit.nombre" placeholder="The movie" formControlName="title">
                        <small class="invalid" *ngIf="formGroup.get('title')?.errors?.required && formGroup.get('title')?.touched">El Titulo es requerido</small>
                    </div>
                </div>



                <div class="mb-3">
                    <label for="premiere">Fecha de Estreno</label>
                    <input type="text" class="form-control" [(ngModel)]="peliculaEdit.fechaDeEstreno" name="premiere" id="premiere" placeholder="01-01-1900" formControlName="fechaDeEstreno">
                    <small class="invalid" *ngIf="formGroup.get('fechaDeEstreno')?.errors?.required && formGroup.get('fechaDeEstreno')?.touched">La fecha de estreno es requerida</small>
                </div>

                <div class="mb-3">
                    <label for="urlAddress">Url Photo Address</label>
                    <input type="text" class="form-control" id="urlAddress" name="urlAddress" [(ngModel)]="peliculaEdit.fotoPelicula" placeholder="http://the-movie.jpg" formControlName="photo">
                    <small class="invalid" *ngIf="formGroup.get('photo')?.errors?.required && formGroup.get('photo')?.touched">La foto es requerida</small>
                </div>



                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="people">Cantidad de Publico</label>
                        <input type="number" class="form-control" id="people" name="people" [(ngModel)]="peliculaEdit.cantidadDePublico" placeholder="" formControlName="people">
                        <small class="invalid" *ngIf="formGroup.get('people')?.errors?.required && formGroup.get('people')?.touched">El Publico es requerido</small>
                        <small class="invalid" *ngIf="formGroup.get('people')?.errors?.min || formGroup.get('people')?.errors?.max">La cantidad de Publico debes estar entre 0 y 3.000.000</small>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="gender">Tipo</label>
                        <select class="custom-select d-block w-100" [(ngModel)]="peliculaEdit.tipo" id="gender" name="gender" formControlName="gender">
                            <option value="">Seleccionar...</option>
                            <option value="terror">Terror</option>
                            <option value="amor">Amor</option>
                            <option value="comedia">Comedia</option>
                            <option value="otros">Otros</option>
                        </select>
                        <small class="invalid" *ngIf="formGroup.get('gender')?.errors?.required && formGroup.get('gender')?.touched">El Genero es requerido</small>
                    </div>

                </div>

                <div class="row" *ngIf="peliculaEdit.actores">
                    <ul *ngFor="let actor of peliculaEdit.actores; let i=index">
                        <li>{{actor.nombre}} {{actor.apellido}}</li>
                    </ul>
                </div>

                <button class="btn btn-primary btn-lg btn-block" [disabled]="formGroup.status == 'INVALID'" (click)="save()" type="submit">Guardar</button>
            </form>
        </div>
    </div>
</div>