<div class="container">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <app-tabla-actor (eventSelectedActor)="addActor($event)"></app-tabla-actor>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Alta de Pelicula</h4>
            <form class="needs-validation" novalidate="">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" name="id" id="id" [(ngModel)]="peliculaEdit.id" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            Valid ID is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="title">Titulo</label>
                        <input type="text" class="form-control" name="title" id="title" [(ngModel)]="peliculaEdit.nombre" placeholder="The movie" value="" required="">
                        <div class="invalid-feedback">
                            Valid title is required.
                        </div>
                    </div>
                </div>



                <div class="mb-3">
                    <label for="premiere">Fecha de Estreno</label>
                    <input type="text" class="form-control" [(ngModel)]="peliculaEdit.fechaDeEstreno" name="premiere" id="premiere" placeholder="01-01-1900">
                    <div class="invalid-feedback">
                        Please enter a valid premiere date.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="urlAddress">Url Photo Address</label>
                    <input type="text" class="form-control" id="urlAddress" name="urlAddress" [(ngModel)]="peliculaEdit.fotoPelicula" placeholder="http://the-movie.jpg">

                </div>



                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="people">Cantidad de Publico</label>
                        <input type="number" class="form-control" id="people" name="people" [(ngModel)]="peliculaEdit.cantidadDePublico" placeholder="" required="" min="0" max="300000000">

                        <div class="invalid-feedback">
                            Please select a valid number.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="gender">Tipo</label>
                        <select class="custom-select d-block w-100" [(ngModel)]="peliculaEdit.tipo" id="gender" name="gender" required="">
                            <option value="">Seleccionar...</option>
                            <option value="terror">Terror</option>
                            <option value="amor">Amor</option>
                            <option value="comedia">Comedia</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid gender.
                        </div>
                    </div>

                </div>

                <button class="btn btn-primary btn-lg btn-block" (click)="save()" type="submit">Guardar</button>
            </form>
        </div>
    </div>