<!-- <app-tabla-pelicula [listadoDePeliculas]="listadoDePeliculas" (eventDeleteMovie)="deleteMovie($event)" (peliculaSeleccionadaEvento)="cargarPeliculaSeleccionada($event)" [borrado]="borrado"></app-tabla-pelicula> -->
<table>
    <tbody>
        <tr *ngFor="let pelicula of listadoDePeliculas">
            <td><span>{{ pelicula.nombre }}</span></td>
            <td><button class="btn btn-outline-primary m-1" (click)="cargarPeliculaSeleccionada(pelicula)">Seleccionar Pelicula</button></td>
            <td><button class="btn btn-outline-secondary m-1" (click)="deleteMovie(pelicula)">Eliminar</button></td>
        </tr>
    </tbody>
</table>