<div class="container" *ngIf="peliculaParaMostrar">
    <div class="row">
        <div class="col-md-4">
            <h2>Detalle Pelicula</h2>
            <p>{{ peliculaParaMostrar.nombre }}</p>
            <p>{{ peliculaParaMostrar.cantidadDePublico }}</p>
            <p>{{ peliculaParaMostrar.tipo }}</p>
            <img [src]="peliculaParaMostrar.fotoPelicula" [alt]="">
        </div>
        <!-- <div class="col-md-8" *ngIf="peliculaParaMostrar.actores.length > 0">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let actor of peliculaParaMostrar.actores; let i=index">
                        <img [src]="actor.foto" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div> -->

    </div>
</div>